.main{
    background: url('../data/img/main.jpg');
    background-repeat: no-repeat;
    height: 100vh;
}
html, body {
  background: #FAFAFC;
  font-family:'Spectral';
  margin: 0;
  overflow-y: hidden;
 
}
.col-md-3{
  text-align: center;
}
a, a:hover, a:visited, a:active, a:focus{
  color: #956706;
}
.backdrop{
  height: 90vh;
}
.name{
  position: absolute;
  top: 10vh;
  left: 5vh;
  color: #956706;
  font-size: 50px;
}
.info{
  padding: 5px;
  font-size: 20px;
}
.intextlink{
  text-decoration: underline;
}
.sidebar{
    height: 100%;
    width: 33%;
    left: 67%;
    position: fixed;
    overflow-y: hidden;
}
.panel{
  height: 100%;
  width:100%;
  overflow-y: scroll;
  background: #FAFAFC;
}