
    	<br><br><br><br>
    	<div class="info">
    	We are excited to have you celebrate our wedding with us. Please consider helping us with a house down payment for the next stage of our life together!

    	<p>
    		<div class="col-md-6"><a href="https://www.zola.com/registry/virginia-eric" class="intextlink">Our Zola Wedding Registry</a></div>
    		<div class="col-md-6"><img src="data/img/zola-logo-black.jpg" width="100%" height="100%"/></div>
    	</p>
    	<!--<p><br>We’d like anything you think of, though the thing we could most use is help with down payment on our future house.

    	<p><br>Help us save for the down payment on our house:

    	<div class="info"><a href="https://www.paypal.me/VirginiaEric" class="intextlink" target="_blank">PayPal</a> or <a href="https://www.venmo.com/Virginia-and-Eric" target="_blank" class="intextlink">Venmo</a></div>

    	

    	<p><br>Or, <a href="https://www.amazon.com/wedding/share/virginia-eric" class="intextlink" target="_blank">see our Amazon registry</a>. !-->
    	</div>