    	<br><br><br><br>
    	<div class="info">
    	We have rooms available for you at a special rate at the <a href="http://www.elementomahamidtowncrossing.com/" target="_blank">Element Omaha Midtown Crossing</a>. You will need to call the hotel at 877-353-6368 before April 30th to make a reserveration. When you do, be sure to mention the "Andersen/Nost Wedding Block."
    	<br>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2900.3013248551824!2d-95.96236640449688!3d41.2589282881044!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4b4627276950705!2sElement+Omaha+Midtown+Crossing!5e0!3m2!1sen!2sus!4v1511897459982" width="400" height="250" frameborder="0" style="border:0"></iframe>
    	</div>
