<br><br><br><br>
	<div class="info">
	
		<p><em>Welcome Supper</em>
	    <br>May 26th, 2018. 7:00 PM.
		<br>Upstream Brewing
		<br>Old Market, Omaha, Nebraska 

		<p><br><em>Ceremony</em>
	      <br>May 27th, 2018. 
	      <br>11 AM Coffee and Croissants
	      <br>11:30 AM Ceremony starts
	      <br>NP Dodge Park Pavillion
	      <br>Omaha, Nebraska 
	      <br>Reception and lunch to follow

	      <p>We hope you can make it!

	      <p><br><em>Ideas for Other Things to Do in Omaha</em>
	      <br><a href="http://www.joslyn.org" target="_blank">Joslyn Art Museum</a>
	      <br><a href="http://www.oldmarket.com" target="_blank">The Old Market</a>
	      <br><a href="http://www.lauritzengardens.org" target="_blank">Lauritzen Botanical Gardens</a> 
	      <br><a href="http://www.omahazoo.com/exhibits" target="_blank">Henry Doorly Zoo</a>
	</div>